.title-font {
  font-family: 'Fascinate', cursive;
  font-size: 64px;
  color: #3CC47C;
  font-weight: 500;
  text-shadow: 6px 6px 15px red;
  ​
}

.tag-font {
  font-family: 'Jura', sans-serif;
  color: #E9c893;
}

.tag-font1 {
  font-family: 'Jura', sans-serif;
  color: #1e392a;
}

.border-radius {
  border-radius: 5px 5px;
}

​ .input-box {
  height: 20px;
  width: fit-content;
}

​ .round-button {
  color: #E9c893;
  height: 30px;
  width: 30px;
}

.img-top {
  max-height: 300px;
  max-width: 300px;
  width: auto;
  height: auto;
}